# Local connections
local   all             all                                     peer

# Replication from secondary
host    replication     {{ replication_user }}   {{ hostvars['pg_secondary']['ansible_host'] }}/32   md5

# General connections
host    all             all             0.0.0.0/0               md5
